.minegrid {
    margin:0px;
    padding:0px;
    float:left;
    clear:both;
}

.minegrid .row {
    float:left;
    clear:left;
}

.minegrid a {
    float:left;
    display:block;
    border:1px solid gainsboro;
    width:24px;
    height:24px;
    background-image:url('/img/sprites.png')
}
.minegrid a:link {text-decoration:none;}

.minegrid .flagged { background-position:0px 0px }
.minegrid .hidden { background-position:-24px 0px }
.minegrid .empty { background-position:-48px 0px }
.minegrid .mined { background-position:-72px 0px }
.minegrid .flaggedgood { background-position:-96px 0px }
.minegrid .flaggedbad { background-position:-120px 0px }
.minegrid .exploded { background-position:-142px 0px }

.minegrid .count1 { background-position:-166px 0px }
.minegrid .count2 { background-position:-190px 0px }
.minegrid .count3 { background-position:-214px 0px }
.minegrid .count4 { background-position:-238px 0px }
.minegrid .count5 { background-position:-262px 0px }
.minegrid .count6 { background-position:-286px 0px }
.minegrid .count7 { background-position:-310px 0px }
.minegrid .count8 { background-position:-334px 0px }
